div.content {
    padding-left: 10%;
    padding-right: 10%;
  
    height: 1000px;
  }
  
  
  .box-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .border-w1 {
    border-width: 1px;
  }
  
  .padding-10 {
    padding: 2%;
  }
  
  /* Create two equal columns that floats next to each other */
  
  .column {
    float: left;
    width: 50%;
    height: 460px;
    /* Should be removed. Only for demonstration */
  }
  .column2{
    float: left;
    width: 100%;
  }
  
  .h1-left {
    float: left;
    padding-left: 5%;
  }
  
  hr {
    content: ' ';
    border: 2px solid skyblue;
    width: 75%;
    float: left;
    padding: 0px;
  }
  
  /* Clear floats after the columns */
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .button5 {border-radius: 50%;}
  
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  