div.content {
  padding-left: 10%;
  padding-right: 10%;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.border-w1 {
  border-width: 1px;
}

.padding-10 {
  padding: 2%;
}

/* Create two equal columns that floats next to each other */

.column {
  float: left;
  width: 49%;
  height: 460px;
  /* Should be removed. Only for demonstration */
}

.column2 {
  float: left;
  width: 100%;
}

.column3 {
  float: left;
  /* width: 100%; */
}

.h1-left {
  float: left;
  padding-left: 5%;
}

.blue-hr {
  /* content: ' '; */
  border: 2px solid skyblue;
  width: 75%;
  float: left;
  padding: 0px;
}

.black-hr {
  /* content: ' '; */
  /* border: 1px solid black; */
  color: black;
  width: 90%;
  padding: 0px;
  float: none;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

.button5 {
  height: 30%;
  width: 13%;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button {
  /* background-color: white; Green */
  border: none;
  color: white;
  padding: 10px;
  /* text-align: center; */
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 30px 25px;
  cursor: pointer;
}

img {
  width: 35px;
}

.vl {
  border-left: 1px solid black;
  height: 460px;
}

.v2 {
  border-left: 1px solid black;
  height: 150px;
  float: right;
  padding-right: 238px;
  /* margin-top: -75px; */
}

.headline-left {
  padding-top: 30px;
  padding-left: 80px;
  color: gray;
  position: absolute;
  font-family: "Source Sans Pro";
  overflow-wrap: break-word;
  text-align: justify;
  font-size: 20px;
  letter-spacing: normal;
  line-height: 1;
}

.blue-h1-left {
  padding-top: 60px;
  padding-left: 100px;
  position: absolute;
  color: rgb(33, 150, 243);
  font-family: "Source Sans Pro";
  overflow-wrap: break-word;
  text-align: justify;
  font-size: 42px;
  letter-spacing: normal;
  line-height: 1;
}

.headline-right {
  padding-top: 30px;
  padding-left: 70px;
  color: gray;
  position: absolute;
  font-family: "Source Sans Pro";
  overflow-wrap: break-word;
  text-align: justify;
  font-size: 20px;
  letter-spacing: normal;
  line-height: 1;
}

.blue-h1-right {
  padding-top: 60px;
  padding-left: 90px;
  position: absolute;
  color: rgb(33, 150, 243);
  font-family: "Source Sans Pro";
  overflow-wrap: break-word;
  text-align: justify;
  font-size: 42px;
  letter-spacing: normal;
  line-height: 1;
}

.float-right {
  float: right;
}

.w3-border {
  border: 1px solid #ccc!important;
  height: 10px;
  width: auto;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
}

.w3-grey, .w3-hover-grey:hover, .w3-gray, .w3-hover-gray:hover {
  color: #000!important;
  background-color: rgb(33, 150, 243)!important;
  height: 10px;
  width: 25%;
}
.progress-div{
  float: left;
  width: 100%;
  padding-top: 20px;
}
.progress-bar-headline{
  margin: 25px;
}
.progress-bar-progress{
  float: right;
  margin: inherit;
  padding-right: 30px;
}

.button-overview {
  background-color: rgb(33, 150, 243); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  margin-top: 12px;
  margin-left: 157px;
}

.button1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}